{% extends 'base.html' %}
{% block content %}
<h1>Lista de Empresas</h1>

<table class="tabla">
    <tr>
        <th>Nombre</th>
        <th>País</th>
        <th>Identificador</th>
        <th>Acciones</th>
    </tr>
    {% for e in empresas %}
    <tr>
        <td>{{ e.nombre }}</td>
        <td>{{ e.pais }}</td>
        <td>{{ e.identificador }}</td>
        <td>
            <a class="btn edit" href="{% url 'editar_empresa' e.id %}">✏️ Editar</a>
            <a class="btn delete" href="{% url 'eliminar_empresa' e.id %}">🗑 Eliminar</a>
        </td>
    </tr>
    {% empty %}
    <tr><td colspan="4">No hay empresas registradas.</td></tr>
    {% endfor %}
</table>
{% endblock %}
